:root {
    --gold-soundz: #ffd166;
    --neon-watermelon: #ef476f;
    --color-background: 237,241,245;
    --color-foreground: 250,250,250;
    --color-foreground-grey: 245,246,246;
    --color-foreground-grey-dark: 234,236,237;
    --color-foreground-blue: 246,248,251;
    --color-foreground-blue-dark: 241,243,247;
    --color-background-blue-dark: 31,35,45;
}

body {
    background: rgb(var(--color-background));
    color: rgb(var(--color-text));
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.title {
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    text-decoration: underline;
}

h1 {
    color: orangered;
    -webkit-text-stroke: 2px goldenrod;
}

.form-container {
    margin: 60px;
    padding: 30px;
}

.bottom-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-original {
    width: min-content;
}

button {
    background-color:orangered;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-left: 40px;
    text-align: center;
    text-decoration: none;
    width: 20%;
    display: inline-block;
    font-size: 16px;
}

button:hover  {
    color: goldenrod;
    font-weight: bolder;
    background-color: red;
    border: 2px solid goldenrod;
    transition: 0.2s ease;
}

.links {
    text-align: center;
}

.links a {
    padding: 20px;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Styles for smartphones */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* Styles for smartphones in landscape mode */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* Styles for smartphones in portrait mode */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for iPads in both portrait and landscape modes */
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Styles for iPads in landscape mode */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Styles for iPads in portrait mode */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles for desktops and laptops */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    /* Styles for large screens */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles for iPhone 4 */
}